[Desktop Entry]
Version=0.5
Name=gophwr
GenericName=Gopher Client
Comment=Browse the Gopherspace
Keywords=Internet;Browser;Explorer
Exec=gophwr %u
Icon=icons/128x128.png
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=x-scheme-handler/gopher;
StartupNotify=true
StartupWMClass=gophwr
Categories=Network;
